/*
EXAMPLE SPECIFIC STYLES FOLLOW
Merlin!
*/

body { 
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
	background: black;
	color: #00D400;
	text-shadow: 0px 0px 2px #00D400;
	padding: 30px;
}

#text-adventure { font-family: monospace; text-align: left; }

#text-adventure .step { visibility: hidden; }

#text-adventure .tc-field{ float:none; position:relative; margin: 0; /* width:200px; */ }
#text-adventure .next-btn,
#text-adventure .prev-btn { display: none; }

header { text-align: left; }
header a { text-decoration: none; color: #00D400; }

.loading,
#text-adventure p,
#text-adventure ul { margin-top: 2em; max-width: 550px; }
	
#text-adventure a { color: #00D400; text-decoration: underline; }
#text-adventure a:hover { color: #00A200; }

#text-adventure .prompt { position: fixed; bottom: 30px; left: 30px; width: 100%; }
#text-adventure .prompt input { 
	width: 100%;
	font-family: monospace;
	font-size: 14px; line-height: 14px;
	border: none; background: none; color: #00D400;
	text-shadow: 0px 0px 2px #00D400;
}